/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  list-style: none;
  /* vertical-align:middle; */
  /* box-sizing: border-box; */
  /* background:transparent; */
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif, "\5b8b\4f53";
}

body {
  /* color:#fff; */
  line-height: 1;
  font-size: 14px;
  min-width: 320px;
  background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 100%;
  text-decoration: none;
  vertical-align: middle;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* 
input,
select {
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  background: inherit !important;
}

.el-select-dropdown {
  background: inherit !important;
}

input,
button {
  color: #fff;
  border: none;
  display: block;
  font-size: 15px;
  line-height: 19px;
  padding: 12px 10px;
  border-radius: 6px;
  background: inherit;
  -webkit-appearance: none;
} */

ul {
  background: inherit !important;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  content: "\200B";
  clear: both;
  height: 0;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/* 修改input p */
input:-moz-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

input,
textarea,
select,
button,
a:focus {
  outline: none;
}


.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: rgba(246, 246, 246, 1);
  color: #989898;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  color: #666666;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-radius: 0;
  font-size: 15px;
  font-weight: 400;
}

.el-pagination {
  text-align: right;
  margin-top: 39px;
}

.el-dialog__header,
.el-dialog__body,
.el-dialog__footer {
  text-align: center
}

.black {
  color: #bbb !important
}

.el-pagination.is-background .btn-prev {
  border-left: 1px solid #e6e6e6;
}

.el-pagination .btn-prev .el-icon {
  font-size: 15px;
  margin-top: 2px;
}

.el-pagination .btn-next .el-icon {
  font-size: 15px;
  margin-top: 2px;

}

.el-pagination button,
.el-pagination span:not([class*=suffix]) {
  color: #989898;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin-left: 12px;
}

.cursor {
  cursor: pointer;
}
