@media (min-width: 1201px) and (max-width: 1440px) {
  .banner {
    height: 295px;
    width: 100%;

    .content-box {
      width: 1200px;
      height: 295px;

      .content {
        height: 295px;
        width: 1000px;

        .logo {
          margin-top: 25px;
          width: 110px;
          height: 48px;

          img {
            width: 110px;
            height: 48px;
          }
        }

        .language {
          width: 75px;
          height: 23px;
          margin-top: 55px;
          border-radius: 3px;
          font-size: 10px;

          .icon {
            height: 9px;
            width: 12px;
            margin-left: 3px;
          }
        }

        .search-box {
          margin: 63px 0 0 110px;
          width: 781px;
          height: 50px;
          border-radius: 30px;

          input {
            width: 687px;
            padding-left: 30px;
            margin-left: 5px;
            font-size: 14px;
          }

          input:focus {
            outline: none;
          }

          .btn {
            width: 68px;
            height: 50px;
            margin-left: 2px;
            border-radius: 0 25px 25px 0;
            background: rgba(56, 141, 244, 1);

            img {
              height: 16px;
              width: 16px;
            }
          }
        }

        .banner-bottom {
          width: 1000px;
          height: 32px;
          margin-top: 77px;
          background: white;
        }
      }
    }
  }

  .content-box-total {
    position: absolute;
    height: 224px;
    top: 422px;

    .count {
      display: flex;
      width: 1050px;
      height: 224px;

      .num {
        div {
          margin-top: 13px;
          font-size: 27px;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
          line-height: 37px;

          span {
            font-size: 27px;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
            line-height: 37px;
          }
        }

        span {
          height: 17px;
          font-size: 15px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(152, 152, 152, 1);
          line-height: 17px;
        }
      }
    }
  }

  .body {
    height: 1250px;
    // height: 900px;
    width: 100%;

    .content-box {
      width: 1200px; // height: 1250px;


      .chart {
        width: 1050px;
        margin: 100px auto 0;
        display: flex;
        justify-content: space-between;

        .child-chart {
          // height: 410px;
          width: 500px;
          background: white;
        }
      }
    }

    .block_trade {
      width: 1050px;
      margin: 80px auto 0;
      height: 625px;

      .title {
        height: 26px;
        font-size: 18px;

        span {
          font-size: 17px;
        }

        .more {
          font-size: 12px;
          font-family: PingFangSC-Regular;
          color: rgba(56, 141, 244, 1);
          margin-right: 18px;
          cursor: pointer;
        }
      }

      .block {
        padding: 27px 0 0 17px;

        .block-content {
          height: 600px;
        }

        .block-piece {
          padding-top: 15px;
          height: 77px;
          border-bottom: 1px solid rgba(224, 224, 224, 1);
          display: flex;

          .block-id {
            height: 60px;
            width: 112px;
            font-size: 14px;
          }

          .block-detail {
            margin-left: 15px;
            font-size: 14px;
            height: 60px;
          }
        }
      }

      .trade {
        margin-left: 18px;

        .trade-info {
          span {
            margin-left: 4px;
          }

          .cut {
            height: 17px;
            width: 20px;
          }
        }

        .trade-time {
          font-size: 14px;
          margin-right: 19px;
        }
      }
    }
  }
}



@media (max-width: 1200px) {
  .content-box-total {
    position: absolute;
    height: 414px;
    top: 522px;

    .count {
      display: flex;
      height: 424px;

      .num {

        // width: 200px;
        div {
          margin-top: 13px;
          font-size: 27px;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
          line-height: 37px;

          span {
            font-size: 27px;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
            line-height: 37px;
          }
        }

        span {
          height: 17px;
          font-size: 15px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(152, 152, 152, 1);
          line-height: 17px;
        }
      }
    }
  }

  .banner {
    height: 251px;
    width: 100%;

    .content-box {
      width: 1024px;
      margin: 0 auto;
      height: 251px;

      // .content {
      //   height: 251px;
      //   margin: 0 auto;
      //   width: 852px;

      //   .logo {
      //     margin-top: 21px;
      //     width: 94px;
      //     height: 41px;

      //     img {
      //       width: 94px;
      //       height: 41px;
      //     }
      //   }

      //   .language {
      //     width: 64px;
      //     height: 19px;
      //     margin-top: 47px;
      //     border-radius: 3px;
      //     font-size: 12px;

      //     .icon {
      //       height: 7px;
      //       width: 10px;
      //       margin-left: 3px;
      //     }
      //   }

      //   .search-box {
      //     margin: 54px 0 0 94px;
      //     width: 666px;
      //     height: 43px;
      //     border-radius: 21px;

      //     input {
      //       width: 586px;
      //       padding-left: 21px;
      //       margin-left: 4px;
      //       font-size: 14px;
      //     }

      //     input:focus {
      //       outline: none;
      //     }

      //     .btn {
      //       width: 57px;
      //       height: 43px;
      //       margin-left: 2px;
      //       border-radius: 0 21px 21px 0;

      //       img {
      //         height: 14px;
      //         width: 14px;
      //       }
      //     }
      //   }

      //   .banner-bottom {
      //     width: 852px;
      //     height: 27px;
      //     margin-top: 65px;
      //   }
      // }
    }
  }

  .content-box-total {
    position: absolute;
    height: 174px;
    top: 440px;

    .count {
      height: 174px;
      width: 852px;
      margin: auto;

      .num {
        width: 170px;

        img {
          height: 45px;
          width: 45px;
          margin: 30px 0 15px;
        }

        div {
          margin-top: 11px;
          font-size: 22px;
          line-height: 32px;

          span {
            font-size: 23px;
            line-height: 32px;
          }
        }

        span {
          height: 14px;
          font-size: 14px;
          line-height: 15px;
        }
      }
    }
  }

  .body {
    width: 100%;

    .content-box {
      width: 1024px;
      // height: 760px;
      height: 1140px;

      .chart {
        width: 852px; // height: 570px;
        margin: 70px auto 0;

        .child-chart {
          width: 419px;
          background: white;
        }
      }
    }

    .block_trade {
      width: 853px;
      margin: 17px auto 0;
      height: 532px;

      .title {
        height: 18px;
        font-size: 14px;

        span {
          font-size: 16px;
          color: #333;
        }

        .more {
          font-size: 12px;
          margin-right: 18px;
        }
      }

      .block {
        width: 404px;
        padding: 23px 0 0 14px;

        .block-content {
          height: 511px; // margin-top: 10px;
        }

        .block-piece {
          padding-top: 13px;
          height: 65px;

          .block-id {
            height: 72px;
            width: 135px;
            font-size: 14px;
          }

          .block-detail {
            margin-left: 14px;
            font-size: 12px;
            height: 51px;
          }
        }
      }

      .trade {
        margin-left: 12px;

        .trade-info {
          font-size: 12px;

          span {
            margin-left: 4px;
          }

          .trade-address {
            margin-top: 4px;
          }

          .cut {
            height: 14px;
            width: 16px;
          }

          .trade-id {
            margin-top: 4px;

            span {
              width: 129px;
            }
          }

          .trade-num {
            margin-top: 4px;
          }
        }

        .trade-time {
          font-size: 10px;
          margin-right: 15px;
        }
      }
    }
  }
}
